/*FONT VARS*/
$fntw: bold;
$fs: 2.5em;
$ff: Impact;
$tt: uppercase;

/*COLOR VARS*/
$clr: #39403F;
$clrplus: #50E144;
$clrmin: #E12F28;



body{
    margin: auto;
    font-family: $ff;
    text-transform: $tt;
}


.container{
    margin: auto;
    width: 100%;
}

section{
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    color: $clr;

        /*TOP SECTION*/
    &.parent{
        display: flex;
        align-items: center;
            .item{
                width: 25%;
                font-size: $fs;
                padding: 5px;
                margin: 5px;
        }
       }

        /*MID SECTION*/
    .parentMid{
        display: flex;
        margin-left: 20%;
            .itemMid{
                justify-content: center;
                width: 20%;
                font-size: $fs;
                padding: 5px;
                margin: 5px;
        }
}

        /*BOTTOM SECTION*/
    .updateParent{
        flex-direction: row;
        justify-content: center;
            .updateItem{
                padding: 5px;
                margin: 5px;
                text-align: center;
            }
}
        /*BOTTOM SECTION ADMINPAGE*/
    #updateAdmin{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 5px;
            .updateForm{
                padding: 2px;
                margin: 10px;
                border-radius: 10px;
            }
            #timeInput{
                width: 40px;
            }
            #nameInput{
                width: 300px;
            }
            #updateButton{
                background-color: black;
                color: white;
                border: 1px solid grey;
            }
    }
        /*BUTTONS ADMINPAGE*/
    .buttonDiv{
        width: 20px;
        margin: 5px;
        padding: 5px;
            button{
                width: 30px;
                border-radius: 25px;
                }
            .plus{
                background-color: $clrplus;
                color: black;
                 }
            .min{
                background-color: $clrmin;
                color: black;
                }


    }
}/*END OF SECTION*/







