<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/socket.io.js"></script>

    <script>
        var socket = io();
        //socket.emit('updateIn',{minutes: "33", text: "Thomas"});
        $(document).ready(function() {
               $('#updateButton').click(function() {
                var time = ($('#timeInput').val());
                var player = ($('#nameInput').val());
                socket.emit('updateIn',{minutes: time, text: player});
            });
        });
    </script>
</head>
<body>
<div class="container">
    <section class="parent">
        <img class="item" src="images/Belgium.png" alt="Team1"/>
        <h1 class="item">Belgium</h1>
        <h1 class="item">2</h1>
            <div class="buttonDiv">
                <button class="plus" type="button">+</button>
                <button class="min" type="button">-</button>
            </div>
        <h1 class="item">-</h1>
        <h1 class="item">0</h1>
        <div class="buttonDiv">
        <button class="plus" type="button">+</button>
        <button class="min" type="button">-</button>
    </div>
        <h1 class="item">Brazil</h1>
        <img class="item" src="images/Brazil.png" alt="Team2"/>
    </section>
    <section class="parentMidSection">
        <div class="parentMid">
            <h1 class="itemMid">10</h1>
            <div class="buttonDiv">
                <button class="plus" type="button">+</button>
                <button class="min" type="button">-</button>
            </div>
            <h1 class="itemMid">Shots</h1>
            <h1 class="itemMid">11</h1>
            <div class="buttonDiv">
                <button class="plus" type="button">+</button>
                <button class="min" type="button">-</button>
            </div>
        </div>
        <div class="parentMid">
            <h1 class="itemMid">12</h1>
            <div class="buttonDiv">
                <button class="plus" type="button">+</button>
                <button class="min" type="button">-</button>
            </div>
            <h1 class="itemMid">Fouls</h1>
            <h1 class="itemMid">13</h1>
            <div class="buttonDiv">
                <button class="plus" type="button">+</button>
                <button class="min" type="button">-</button>
            </div>
        </div>
    </section>
    <section>
        <h2>REALTIME UPDATES</h2>
        <form id="updateAdmin">
            <input  class="updateForm"  type="text" id="timeInput" placeholder="Minute">
            <input  class="updateForm"  type="text" id="nameInput" placeholder="Enter player name">
            <input id="updateButton" class="updateForm" type="submit" value="UPDATE">
        </form>
    </section>
</div>
</body>
</html>