<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('updateOut', function(updates){
        console.log('Update received!');
        $('.updateParent').html("");
        updates.forEach(function(update){
            $('.updateParent').append('<li class="updateItem">'+ update.minutes +"'"+ " " + update.text + '</li>');
        });
  });

    </script>
</head>
<body>
<div class="container">
    <section class="parent">
                <img class="item" src="images/Belgium.png" alt="Team1"/>
                <h1 class="item">Belgium</h1>
                <h1 class="item">2</h1>
                <h1 class="item">-</h1>
                <h1 class="item">0</h1>
                <h1 class="item">Brazil</h1>
                <img class="item" src="images/Brazil.png" alt="Team2"/>
    </section>
    <section class>
        <div class="parentMid">
            <h1 class="itemMid">10</h1>
            <h1 class="itemMid">Shots</h1>
            <h1 class="itemMid">11</h1>
        </div>
        <div class="parentMid">
            <h1 class="itemMid">12</h1>
            <h1 class="itemMid">Fouls</h1>
            <h1 class="itemMid">13</h1>
        </div>
    </section>
    <section>
        <h2>REALTIME UPDATES</h2>
        <ul class="updateParent">

        </ul>
    </section>
</div>
</body>
</html>